$primary-color: #fe8019;

.ant-card-body {
  padding: 0;
  margin: 5px 5px;
}

.id-div {
  margin: 24px;
}
.ant-layout-header {
  background-color: white;
}

.ant-steps {
  margin-bottom: 40px;
}

.payment {
  width: 400px;
}

.orderLayout {
    padding-top: 30px;
}

.cart {
  float: right;
}

.cartAmount {
  margin-left: 5px;
  font-weight: bold;
}

.title-font {
  font-size: 30px;
  font-weight: bold;
}

.payButton {
  margin-top: 15px;
  width: 200px;
  background-color: #4cd964;
  border: none;
}
